### Count desire occurance across all BR instance

In [2]:
import pandas as pd

def count_z3_above_threshold(
    xlsx_path,
    br_col="BR",
    z3_col="Z3",
    threshold=10
):
    """
    Reads an Excel file and counts, per BR class,
    how many rows have Z3 > threshold.

    Parameters
    ----------
    xlsx_path : str
        Path to the .xlsx file
    br_col : str
        Column name for BR class (e.g., 'BR', 'Problem class')
    z3_col : str
        Column name for Z3 / CG deviation
    threshold : float
        Threshold for Z3

    Returns
    -------
    pd.DataFrame
        Counts per BR class
    """

    # Read Excel
    df = pd.read_excel(xlsx_path)

    # Basic sanity check
    if br_col not in df.columns or z3_col not in df.columns:
        raise ValueError(
            f"Columns not found. Available columns: {list(df.columns)}"
        )

    # Filter Z3 > threshold
    df_filtered = df[df[z3_col] > threshold]

    # Count per BR class
    counts = (
        df_filtered
        .groupby(br_col)
        .size()
        .reset_index(name="count_Z3_gt_10")
        .sort_values(by=br_col)
    )

    return counts
 
xlsx_path = "./clp/results/BR-Modified-NSGA2_tri_br/_summary/BR-Modified-NSGA2_tri_flat.xlsx"

counts_df = count_z3_above_threshold(
    xlsx_path,
    br_col="br_class",   # change if needed
    z3_col="z3",              # change if needed
    threshold=10
)

counts_df

   br_class  count_Z3_gt_10
0       BR1              29
1      BR10              22
2      BR11              28
3      BR12              27
4      BR13              18
5      BR14              26
6       BR2              22
7       BR3              12
8       BR4              13
9       BR5              20
10      BR6              29
11      BR7              21
12      BR8              26
13      BR9              30